body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-align: center;
  }
  label {
    margin-inline: auto;
  }
  div{
    margin-inline: auto;
    :nth-child(2){
      color: blueviolet;
      text-align: center;
      font-size: 40px;
    }
    :nth-child(3){
      font-size: 20px
    }
  }
}

small{
  width: 80vmin;
  margin-top: 5rem;
  margin-inline: auto;
}

small ul li{
  padding-top:0.5rem;
}

small ul li table{
  margin-top: 0.5rem;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
